body {
    background: #111;
    color: white;
    font-family: Arial;
    margin: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}

th {
    background: #333;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #777;
}

/* BOTON DE MENU ARRIBA A LA DERECHA */
.menu-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #1f6feb;
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.menu-box {
  position: absolute;
  top: 60px;
  right: 20px;
  background: #222;
  border: 1px solid #444;
  padding: 10px;
  display: none;
  border-radius: 8px;
}

.menu-box a {
  display: block;
  padding: 8px;
  color: white;
  text-decoration: none;
}

.menu-box a:hover {
  background: #333;
}
